
.files-table{
    width:90%;
    margin-left:5%;
    margin-top:5%;
    margin-right:1%;

} 
.upload-card{
    width:20%;
    float:left;

}
.download-card{
    width:80%;
    float: left;
}
th{
    background-color: green;
    color:white
}
.uploader{
    width:70%;
    margin-top:10%;
    margin-left:15%;
}
.btn-upload{
    margin-left:15%;
}
