
<div class="card upload-card">
    <h4 class="card-header">File Upload</h4>

     <div class="uploader">
       <input   id="inputGroupFile01" type="file"
                 (change)="fileChange($event)"><br><br><br>
       <button class="btn btn-success btn-upload" (click)="upload()" id="btnUpload">Upload</button>
      </div>
      <br>
      <div class="progress form-group" *ngIf="result.progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]=result.progress>{{result.progress}}              </div>
    </div>

      <div class="alert-success" *ngIf="success">{{successMessage}}</div>
      <div class="alert-danger" *ngIf="!success">{{errorMessage}}</div>
    
</div>

<div class="card download-card">
    <h4 class="card-header">Files List</h4>
<table class="table table-bordered files-table" >
    <thead>
        <tr>
            <th>Files</th>
            <th>Download Path</th>
            <th>Size</th>
        </tr>
        </thead>
         <tbody>
            <tr *ngFor="let result of results">
                 <td><a [attr.href]="url+result.filename" >{{ result.filename }}</a> 
                    <td>{{url+result.filename}}</td>
                    <td>{{result.size | size}}</td>
            </tr>
        </tbody>
</table> 
<br><br> 
</div>

